<style>
  /* Style for product display can be added based on your design requirements */

  .js-wishlistBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
  }

  @media only screen and (max-width: 990px) {
    .js-wishlistBlock {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* Two columns for screens below 750px */
      column-gap: 24px;
    }

  }
  @media only screen and (max-width: 560px) {
    .card__heading {
      font-size: 21px;
    }
  }
  @media only screen and (max-width: 460px) {
    .js-wishlistBlock {
      display: grid;
      grid-template-columns: 1fr;
      /* Two columns for screens below 750px */
      column-gap: var(--grid-mobile-horizontal-spacing);
      /* You can adjust the gap for mobile if needed */
    }
  }

  .c-product {
    cursor: pointer;
    margin-bottom: 20px;
  }

  .c-product img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s ease;
    background: #f6f7fb;
    border-radius: 5rem;
  }
  .wishlist-product__list .c-product span.sale-price {
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    font-size: 20px;
  }
  .wishlist-product__list .c-product span.regular-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #1a202c3d;
    text-decoration: line-through;
  }
  .c-product img:hover {
    transform: scale(1.03);
  }

  .c-product h3.c-product__title {
    margin-top: 10px;
    position: relative;
  }
  .wishlist_collection_price {
    display: flex;
    align-items: center;
    gap: 20px;
  }

</style>
<div class="wishlist-page">
  <div class="recently-title">
    <h2 class="title inline-richtext h2 scroll-trigger animate--slide-in">
      <b>Wishlist</b>
    </h2>
  </div>
  <div class="js-wishlistBlock">
    <!-- Wishlist items will be displayed here -->
  </div>
</div>