/* ========================>Min-width and Max-width<=========================== */

@media screen and (min-width: 1024px) {

    .custom-arrow-prev,
    .custom-arrow-next {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1175px) {
    .collection-slider .image-container {
        width: 110px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .image-with-text__heading {
        width: 470px;
        font-size: 34px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1145px) {
    .collection .card-information {
        gap: 10px !important;
    }

    p.collection-title {
        padding: 8px 10px 8px 10px;
        font-size: 12px;
    }

    .card__heading {
        font-size: 18px;
    }
}

/* ========================>Min-width<=========================== */

@media screen and (min-width: 750px) {
    .footer .grid__item {
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    }
}

@media screen and (min-width: 768px) {
    .image-with-text--overlap .image-with-text__content {
        min-width: 90% !important;
        width: 90% !important;
    }
}

@media screen and (min-width: 769px) {
    .image-with-text--overlap .image-with-text__text-item {
        padding: 0px !important;
    }

    .image-with-text__heading {
        width: 496px;
    }

    .image-with-text .grid__item {
        position: unset !important;
    }

    .image-with-text__content {
        background: transparent;
        position: absolute !important;
        left: 0px;
    }

    .footer-block__details-content .list-menu__item--link {
        padding-bottom: 10px;
        padding-top: 0.5rem;
    }


}

/* Media query for max-width:990px */
@media screen and (min-width: 990px) {
    .image-with-text__content {
        padding: 0rem 9rem 7rem !important;
    }

    .custom_serives .multicolumn-list.conta

    /* Media query for max-width:768px */
    ins-content-container.grid li {
        padding-inline: 34px;
    }

    .custom_serives .multicolumn-card__info {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

.custom_serives .multicolumn-list__item{
    padding-inline: 35px !important;
    }
}


/* ========================>Max-width<=========================== */

/* Media query for max-width:1026px */
@media screen and (max-width: 1026px) {
    .footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in {
        padding-left: 0px;
    }
}

/* Media query for max-width:989px */
@media screen and (max-width: 989px) {
    .custom_serives .multicolumn-list {
        justify-content: center !important;
    }

    li.multicolumn-list__item.grid__item.first_column {
        padding-inline: 0px;
    }

    .review_slider .multicolumn-list .multicolumn-list__item {
        padding-inline: 0px;
    }

    .review_slider li.multicolumn-list__item.grid__item.second_column {
        padding-top: 115px;
    }

    .slider.slider--tablet {
        flex-wrap: wrap !important;
    }

    .header__heading,
    .header__heading-link {
        justify-self: start !important;
    }
}

/* Media query for max-width:768px */
@media screen and (max-width: 767px) {
    .collection_slider .content-area img {
        height: 32px !important;
        width: 32px !important;
    }
}

/* Media query for max-width:768px */
@media screen and (max-width: 769px) {
    header-drawer {
        justify-self: flex-start !important;
    }
}

/* Media query for max-width:768px */
@media screen and (max-width: 768px) {
    .custom_serives .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }

    .review_slider .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
        padding-bottom: 0px !important;
    }
    .custom_serives .media.media--transparent.media--adapt {
        padding-bottom: 0px !important;
    }

    .custom_serives .media.media--transparent.media--adapt {
        margin: 0 auto;
    }

    .footer__content-top {
        padding-bottom: 3rem;
        padding-left: calc(4rem / var(--font-body-scale));
        padding-right: calc(4rem / var(--font-body-scale));
    }

    .image-with-text .grid {
        flex-direction: column-reverse;
    }

    .header--middle-left.drawer-menu {
        grid-template-areas: 'navigation heading icons' !important;
    }

    .image-with-text .gradient {
        padding-inline: 0px;
        margin-inline: 0px !important;
    }

    .image-with-text--overlap .image-with-text__content {
        width: 100% !important;
    }

    .image-with-text__text-item a.button.button--primary {
        margin-top: 40px;
    }

    .image-with-text .grid {
        border-radius: 64px;
        background: transparent !important;
    }

    .image-with-text .gradient {
        background: transparent;
    }

    .image-with-text__media-item {
        background: #F6F7FB;
        border-radius: 40px;
    }

    .image-with-text__media img {
        top: 0px !important;
        left: 0px !important;
    }

  

    .header__heading,
    .header__heading-link {
        justify-self: center !important;
    }

    .header--middle-left.drawer-menu {
        margin-block: 32px;
    }

    .custom-image-with-text {
        padding-top: 34px;
        padding-bottom: 12px !important;
    }

    .collection_slider h1 {
        font-size: 32px !important;
    }

    .collection__title.title-wrapper h2 {
        font-size: 32px !important;
    }

    .custom_serives h2 {
        font-size: 32px !important;
    }

    .custom_serives .title-wrapper-with-link {
        margin-bottom: 64px !important;
    }

    .custom_serives .multicolumn-card__info {
        padding-inline: 0px !important;
    }

    .custom_serives .multicolumn-card {
        padding-bottom: 64px;
    }

    .review_slider_first_li h1 {
        font-size: 32px !important;
    }

    li.multicolumn-list__item.grid__item.first_column {
        padding-inline: 80px !important;
        justify-content: center;
        text-align: center;
    }

    .review-slider_image-container {
        margin: 0 auto;
    }

    .review-slider .content-area a {
        text-align: center;
    }

    .review_slider .slick-dots {
        text-align: center !important;
    }

    .review_slider_button_container {
        padding-left: 0px;
        justify-content: center;
        padding-top: 48px;
    }

    .review_slider .content-area {
        padding-inline: 0px;
    }

    .multicolumn-list:not(.slider) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .custom_serives .rte p {
        font-size: 19px;
    }

    .review_slider.page-width {
        padding-top: 80px !important;
    }

    .custom_serives slider-component.slider-mobile-gutter {
        margin-bottom: -20px;
    }

    .review_slider li.multicolumn-list__item.grid__item.second_column {
        padding-top: 60px;
    }

    .review-slider_image_container h4 {
        margin-bottom: 16px;
    }

    .review_slider .multicolumn-list {
        background: transparent;
    }

    .review-arrow-prev,
    .review-arrow-next {
        border: none !important;
    }

    .custom_blog_page .blog__title {
        font-size: 32px;
        text-align: center;
    }

    .custom_blog_page .blog_description p {
        text-align: center;
    }

    :root {
        --grid-desktop-horizontal-spacing: 8px !important;
    }

    .medium-hide {
        display: block !important;
    }

    a.link.underlined-link.large-up-hide.scroll-trigger.animate--slide-in {
        display: none;
    }

    .custom_blog_page .title-wrapper--no-top-margin {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .custom_blog_page .page-width{
        padding-top: 112px !important;
        padding-bottom: 112px !important;
    }

    .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
        padding-bottom: 64px !important;
    }

    .custom_blog_page h3.card__heading.h2 {
        font-size: 24px;
    }

    .custom_blog_badge {
        padding: 8px 16px 8px 16px;
        font-size: 14px;
    }

    .custom_blog_page .slider-buttons {
        display: none;
    }

    .custom_blog_page .blog__button {
        margin-top: 106px !important;
    }

    .custom_newsletter h2.inline-richtext.h1 {
        font-size: 32px;
    }
    .newsletter__wrapper {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    footer {
        padding-top: 112px !important;
    }
    .custom_newsletter .newsletter__wrapper {
        background: transparent;
    }
    .custom_newsletter .custom_newsletter_input_container form input {
        background: #F6F7FB;
    }
    footer{
        padding-bottom: 0px !important;
    }
    .collection .grid {
        /* column-gap: 8px !important; */
        row-gap: 24px !important;
    }
    .custom_blog_page .title-wrapper-with-link {
        margin-bottom: 64px;
    }
    .collection  .slider-mobile-gutter{
padding-right: 16px !important;
    }
    .custom_blog_page .slider-mobile-gutter {
margin-right: -24px;
    }
    .custom_serives .page-width
    {
        padding-bottom: 0px !important;
    }
    .review_slider_first_li h1 {
        margin-bottom: 0px !important;
    }
}

/* Media query for max-width:749px */
@media screen and (max-width: 749px) {
    .custom_serives .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }

    .review_slider .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }

    .footer .grid {
        display: flex !important;
    }

    .footer-block.grid__item {
        margin-bottom: 64px !important;
        margin-top: 0px !important;
    }

    .footer .grid__item {
        width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2) !important;
        /* Each item will take 50% width minus the column gap */
        max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2) !important;
    }

    .footer .grid {
        column-gap: var(--grid-mobile-horizontal-spacing) !important;
        row-gap: var(--grid-mobile-vertical-spacing) !important;
    }

    .grid__item.slider__slide--full-width {
        width: calc(25% - var(--grid-mobile-horizontal-spacing)* 3 / 4) !important;
    }

}

/* Media query for max-width:749px */
@media screen and (max-width: 600px) {
    li.multicolumn-list__item.grid__item.first_column {
        padding-inline: 0px !important;
        }
}
/* Media query for max-width:749px */
@media screen and (max-width: 560px) {
    .collection-slider.slick-slider {
        padding-bottom: 88px;
    }
    .custom-arrow-prev, .custom-arrow-next {
        bottom: 0% !important;
        top: unset !important;
    }
    .custom-arrow-prev {
        left: 50%;
        transform: translateX(-64px); /* Half of the total space, adjusted for button size + gap */
    }
    
    /* Right arrow */
    .custom-arrow-next {
        left: 50%;
        transform: translateX(16px); /* Shift right by 16px to create the gap */
    } 
    .collection .collection__description{
        text-align: center;
    }
    .collection__title.title-wrapper h2 {
        text-align: center;
    }
    .collection .grid--2-col-tablet-down .grid__item {
        width: 100% !important;
        max-width: 100% !important;
    }
    .custom_newsletter  {
        display: none !important;
    }
    .desktop-logo{
        display: none !important;
    }
    .mobile-logo{
        display: inline !important;
    }
    .header__heading-logo {
        width: 100px;
    }
    .collection_slider h5 {
     text-align: center !important;
    }
    .collection_slider h1 {
        text-align: center !important;
    }
   
    .slider.slider--tablet {
        flex-wrap: inherit !important;
    }
    .custom_blog_page .slider-buttons {
        display: flex !important;
        gap: 16px;
        margin-right: 24px;
    }
    .custom_blog_page .blog__post.article {
        width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing)) !important;
    }
    .custom_blog_page .blog__posts.articles-wrapper li:first-child {
        width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing)) !important;
    }
    .custom_blog_page .blog__posts.articles-wrapper li:first-child .card__inner.color-scheme-2.gradient.ratio {
        --ratio-percent: 100% !important;
    }
    .custom_blog_page .slider-button{
        width: 48px !important;
        height: 48px !important;
        padding: 0;
        cursor: pointer !important;
        border-radius: 50%;
        background: #F6F7FB !important;
        font-size: 16px;
        color: black !important;
    }
    .custom_blog_page .slider-counter {
        display: none;
    }
    .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
        padding-bottom: 40px !important;
    }
    .custom_blog_page .blog__button {
        margin-top: 56px !important;
    }   
    footer {
        padding-top: 0px !important;
    }
    .custom_serives {
        padding-bottom: 0px !important;
    }
    .custom_serives .multicolumn-card {
        padding-bottom: 56px !important;
    }
    .collection{
        padding-top: 104px !important;
    }
    .page-width {
        padding-inline: 32px !important;
    }
    .image-with-text__heading {
        font-size: 32px;
    }
    .custom_serives {
        margin-bottom: -30px;
    }
    .review_slider li.multicolumn-list__item.grid__item.second_column {
        padding-top: 50px;
    }
    h2.footer-block__heading.inline-richtext {
        font-size: 20px;
    }
    a.link.link--text.list-menu__item.list-menu__item--link {
        font-size: 14px;
    }
    .footer-block__details-content p {
        font-size: 14px;
    }
    .footer__list-social.list-social, .footer__follow-on-shop, .footer-block__newsletter {
        gap: 0px !important;
    }
    .footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in:nth-child(2),
.footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in:nth-child(4) {
    padding-left: 25px;
}
.custom-image-with-text {
    padding-bottom: 4px !important;
}

}


/* Media query for max-width:749px */
@media screen and (max-width: 365px) {
    .footer-block.grid__item{
        max-width: 100% !important;
        width: 100% !important;
    }
    .footer-block.grid__item {
        margin-bottom: 0px !important;
    }
    .footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in:nth-child(2),
    .footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in:nth-child(4) {
        padding-left: 0px;
    }

}