/* ========================>Min-width and Max-width<=========================== */

@media screen and (min-width: 1024px) {

    .custom-arrow-prev,
    .custom-arrow-next {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1175px) {
    .collection-slider .image-container {
        width: 110px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .image-with-text__heading {
        width: 470px;
        font-size: 34px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1145px) {
    .collection .card-information {
        gap: 10px !important;
    }

    p.collection-title {
        padding: 8px 10px 8px 10px;
        font-size: 12px;
    }

    .card__heading {
        font-size: 18px;
    }
}

/* ========================>Min-width<=========================== */

/* Media query for max-width:768px */
@media screen and (min-width: 768px) {
    .image-with-text--overlap .image-with-text__text-item {
        padding: 0px !important;
    }

    .image-with-text__heading {
        width: 496px;
    }

    .image-with-text .grid__item {
        position: unset !important;
    }

    .image-with-text__content {
        background: transparent;
        position: absolute !important;
        left: 0px;
    }

    .footer-block__details-content .list-menu__item--link {
        padding-bottom: 10px;
        padding-top: 0.5rem;
    }


}

/* Media query for max-width:990px */
@media screen and (min-width: 990px) {
    .image-with-text__content {
        padding: 0rem 9rem 7rem !important;
    }
    .custom_serives .multicolumn-list.contains-content-container.grid li {
        padding-inline: 34px;
    }
    .custom_serives .multicolumn-card__info {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}


/* ========================>Max-width<=========================== */

/* Media query for max-width:1026px */
@media screen and (max-width: 1026px) {
    .footer-block.grid__item.footer-block--menu.scroll-trigger.animate--slide-in {
        padding-left: 0px;
    }
}

/* Media query for max-width:989px */
@media screen and (max-width: 989px) {
    .custom_serives .multicolumn-list {
        justify-content: center !important;
    }

    li.multicolumn-list__item.grid__item.first_column {
        padding-inline: 0px;
    }

    .review_slider .multicolumn-list .multicolumn-list__item {
        padding-inline: 0px;
    }

    .review_slider li.multicolumn-list__item.grid__item.second_column {
        padding-top: 115px;
    }

    .slider.slider--tablet {
        flex-wrap: wrap !important;
    }
}

/* Media query for max-width:768px */
@media screen and (max-width: 768px) {
    .custom_serives .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }

    .review_slider .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }
    .custom_serives .media.media--transparent.media--adapt {
        padding-bottom: 0px !important;
    }

    .custom_serives .media.media--transparent.media--adapt {
        margin: 0 auto;
    }
    .footer__content-top {
        padding-bottom: 3rem;
        padding-left: calc(4rem / var(--font-body-scale));
        padding-right: calc(4rem / var(--font-body-scale));
      }
      .image-with-text .grid {
        flex-direction: column-reverse;
      }
      .header--middle-left.drawer-menu {
        grid-template-areas: 'navigation heading icons' !important;
      }
      header-drawer {
        justify-self: flex-start !important;
    }
    .image-with-text .gradient {
        padding-inline: 0px;
        margin-inline: 0px !important;
    }
}

/* Media query for max-width:749px */
@media screen and (max-width: 749px) {
    .custom_serives .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }

    .review_slider .multicolumn-list.grid--2-col-tablet-down .grid__item {
        max-width: 100% !important;
        width: 100% !important;
    }

    .footer .grid {
        display: flex !important;
    }

    .footer-block.grid__item {
        margin-bottom: 64px !important;
        margin-top: 0px !important;
    }

    .footer .grid__item {
        width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2) !important;
        /* Each item will take 50% width minus the column gap */
        max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2) !important;
    }

    .footer .grid {
        column-gap: var(--grid-mobile-horizontal-spacing) !important;
        row-gap: var(--grid-mobile-vertical-spacing) !important;
    }
    .grid__item.slider__slide--full-width {
        width: calc(25% - var(--grid-mobile-horizontal-spacing)* 3 / 4) !important;
    }
 
}